<div class="auth-form">
  <img class="logo" src="assets/images/logo.png" alt="wizelogo">
  <h1 class="form-title">
    Complete Registration
  </h1>
  <mat-card>
    <form [formGroup]="form" (keyup.enter)="register()">

      <label>EMAIL</label>
      <mat-form-field appearance="outline">
        <input matInput #input type="text" id="email" placeholder="EMAIL" autocomplete="off" formControlName="email">
        <mat-error *ngIf="form.controls.email.errors?.required">

          email is required
        </mat-error>
        <mat-error *ngIf="form.controls.email.errors?.pattern">

          email is invalid
        </mat-error>
        <mat-error *ngIf="form.controls.email.errors?.maxlength">
          maxlength is 128 character
        </mat-error>
      </mat-form-field>
      <label>PASSWORD</label>
      <mat-form-field appearance="outline">
        <input matInput #input type="password" id="password" placeholder="PASSWORD" autocomplete="off"
          formControlName="password">
        <mat-error *ngIf="form.controls.password.errors?.required">

          password is required
        </mat-error>
        <mat-error *ngIf="form.controls.password.errors?.passwordStrength">

          {{form.get('password').errors['passwordStrength']}}
        </mat-error>
        <mat-error *ngIf="form.controls.password.errors?.maxlength">
          password is 128 character
        </mat-error>
      </mat-form-field>
      <label>REPEAT PASSWORD</label>
      <mat-form-field appearance="outline">
        <input matInput #input type="password" id="confirmPassword" placeholder="REPEAT PASSWORD" autocomplete="off"
          formControlName="confirmPassword">
        <mat-error *ngIf="form.controls.confirmPassword.errors?.required">

          password is required
        </mat-error>
        <mat-error
          *ngIf="form.controls.confirmPassword.dirty && form.controls.confirmPassword.errors && form.controls.confirmPassword.errors.mustMatch">

          password not match
        </mat-error>
        <mat-error *ngIf="form.controls.confirmPassword.errors?.maxlength">
          password is 128 character
        </mat-error>
      </mat-form-field>
    </form>
    <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="register()">
      SIGN UP
    </button>
  </mat-card>
  <h4 class="form-desc">
    By signing up.you agree to<br>
    the Xonux <a>Terms of Service</a> and <a>Policies</a>.
  </h4>
</div>