.dashboard{
    background-color: #F4F6F9;
    .tile-title{
        display: flex;
        background-color: white;
        align-items: center;
        padding: 0.5rem 1rem;
        color: rgba(0,0,0,0.6);
        font-weight: 600;
        box-shadow: 0px -1px 2px -5px rgba(0, 0, 0, 0.2), 0px 0px 6px 0px rgba(0, 0, 0, 0.14), 0px 0px 3px 1px rgba(0, 0, 0, 0.12);
        span{
            display: inline-flex;
            align-items: center;
            color: rgba(0,0,0,0.3);
            margin-left: 0.5rem;
            font-weight: 600;
            font-size: 0.8rem;
        }
    }
    .dashaboard-chart{
        display: flex;
        padding: 0.5rem;
        flex-wrap: wrap;
        .pipe-chart-container{
            width: 50%;
            padding: 1rem;
            box-sizing: border-box;
            &.bar-chart{
                width: 100%;
            }
            h3{
                margin: 0;
                font-size: 1rem;
                color: rgba(0, 0, 0, 0.6);
            }
            .mat-card{
                padding: 1.5rem 1rem;

                &.numberical-chart{
                    height: 100%;
                    box-sizing: border-box;
                    display: flex;
                    padding: 0;
                    .mat-divider{
                        
                        &.mat-divider-vertical{
                            border-right-width: 2px;
                            border-right-style: solid;
                            border-color: rgba(0,0,0,0.03);
                        }
                    }
                    .box{
                        width: 33%;
                        padding: 1.5rem 1rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .content{
                            font-size:3rem;
                            color: rgba(0,0,0,0.7);
                            span{
                                font-size:1rem;
                                display: block;
                                color: rgba(0,0,0,0.3);
                                font-weight: 600;
                                   
                            }
                        }
                        .rate{
                            font-size: 1.5rem;
                            color: #63c9ff;
                                                   
                        }
                    }
                }
            }
        }
    }
}