<div class="layout">

  <div class="header">
    <button mat-icon-button class="mobile-view" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="logo" src="assets/images/logo.png" alt="wizelogo">
    <div class="navbar desktop-view">
      <button mat-button [matMenuTriggerFor]="OVERVIEW">OVERVIEW
        <mat-icon>expand_more
        </mat-icon>
      </button>
      <mat-menu #OVERVIEW="matMenu">
        <button mat-menu-item>OVERVIEW</button>
        <button mat-menu-item>OVERVIEW</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="ANALYTICS">ANALYTICS
        <mat-icon>expand_more
        </mat-icon>
      </button>
      <mat-menu #ANALYTICS="matMenu">
        <button mat-menu-item>ANALYTICS</button>
        <button mat-menu-item>ANALYTICS</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="DATA">DATA
        <mat-icon>expand_more
        </mat-icon>
      </button>
      <mat-menu #DATA="matMenu">
        <button mat-menu-item>DATA</button>
        <button mat-menu-item>DATA</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="ALERTS">ALERTS
        <mat-icon>expand_more
        </mat-icon>
      </button>
      <mat-menu #ALERTS="matMenu">
        <button mat-menu-item>ALERTS</button>
        <button mat-menu-item>ALERTS</button>
      </mat-menu>
    </div>
    <button mat-button class="user-profile">
      <img src="assets/images/logo.png" alt="wizelogo">
      <mat-icon>arrow_drop_down
      </mat-icon>
    </button>
  </div>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #drawer [mode]="(screenWidth > 700) ? 'side' : 'over'" [opened]="screenWidth > 700">
      <div class="filter-box">
        <label>
          FILTERS
        </label>
        <button mat-raised-button color="primary">RESET</button>
      </div>
      <mat-form-field appearance="outline">
        <input matInput #input type="text" id="email" placeholder="text filter" autocomplete="off">
      </mat-form-field>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>