/* You can add global styles to this file, and also import other style files */

@import "assets/styles/theme.scss";

html, body { height: 100%; font-size: 14px;
    @media screen and (max-width:700px) {
        font-size: 12px;
    }
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mobile-view{
    @media screen and (min-width:701px) {
      display: none !important;
    }
  }
  .desktop-view{
    @media screen and (max-width:700px) {
      display: none !important;
    }
  }
.mat-drawer{
    .mat-form-field{
        color: white;
        .mat-form-field-infix{
            border: 0;
        }
        .mat-form-field-outline, .mat-form-field-outline{
            background-color: #15253c;
            border-radius: 5px;
        }
        .mat-form-field-infix{
            .mat-input-element{
                &::placeholder{
                    color: white;
                    opacity: 0.6;
                }
            }
        }
    }
}
